<!-- views/partials/_header.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Link para a fonte Raleway do Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
    <!-- Lib para style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-XXX" crossorigin="anonymous" />
    <!-- Vinculando o arquivo CSS -->
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  